.identity-card {
  background-color: #FFFCF9;
  width: 64rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.profile-pic {
  width: 32rem;
  border-radius: 50%;
}

.name {
  font-size: 7.2rem;
  color: #373F51;
}

.course-details {
  height: 9.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.student-year {
  color: #8B8E98;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.course-name {
  font-size: 2.4rem;
  color: #8B8E98;
  font-variant: small-caps;
}

.social-links {
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.social-link {
  display: flex;
  align-items: center;
}

.social-link a {
  color: #56A3A6;
  font-size: 3.2rem;
  text-decoration: none;
}

.social-link a:hover {
  text-decoration: underline;
}

.social-link img {
  height: 6.4rem;
  width: 6.4rem;
  margin-left: 1.5rem;
}